.top{background-color: #2D3091; color: white;}
.bg-body-tertiary{background: #2D3091 !important;}
.banner h1{font-weight: bold;}
.thumb{height: 230px; object-fit: cover;}
.bg-for-mukhya{background-color: #ECECED;}
.tt h5{font-weight: bold;}
.news-body-content img{display: none !important;}